<html>
  <head>
    <link href='http://fonts.googleapis.com/css?family=Snippet' rel='stylesheet' type='text/css'>
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/css/style.css" type="text/css" />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="javascript/jquery.tinysort.js"></script>
  </head>
  <body>
    <div class='header'>
      <h1 class='title'>iwanttolearn<span>ruby</span></h1>
    </div>
    <div class='content'>
      {{ content }}
    </div>
    <div class='footer'>
      <p>Something missing? Feel free to fork the <a href="http://github.com/awagener/iwanttolearnruby">repository</a> and contribute!</p>
    </div>
  </body>
</html>